/*--------------------------------------
	Navigation bar
--------------------------------------*/
body {
	font-family: 'Sintony', sans-serif;
}

.navbar-header a{
	background-image: url("../images/logo-bg.jpg");
	float:left;
	padding:22px 100px 48px 90px;
}
li{

	padding:18px 10px 2px 10px;
}


 .navbar-default .navbar-nav > .active > a, 
 .navbar-default .navbar-nav > .active > a:hover, 
 .navbar-default .navbar-nav > .active > a:focus {
      color:#64C6AF;
      background: white;
 }
 .navbar-default .navbar-nav > li > a:hover 
 {
      color:#64C6AF;
     
 }

 .navbar-nav > li > a{
 	font-weight: bold;
 	font-size: 16px;
 }

 /* --------------------------------------
   Media Queries
   -------------------------------------- */

/* Portrait & landscape phone */
